.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: var(--main-border);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__ellipsismore {
    display: flex;
    position: absolute;
    background-color: tomato;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    left: 30px;
}
